<div class="app-wrapper">
	<div class="container">
		<div class="row app-main-full">
			<div class="app-video col-md-8 bg-white">
				<div id="wistia_<%= @task.video %>"></div>
			</div>
			<div class="col-md-4 bg-dark">
					<ul class="list-group app-content">
					  <% @tasks.each do |task| %>
					  	<% if task.header %>
					 		 <li class="list-group-item active"><%= task.title %></li>
					 	<% else %>
					 	 	 <%= link_to [task.project, task], class: "list-group-item app-list-item" do %>
					 	 	 	<%= task.title %>
					    	<% end %>
					    <% end %>
					  <% end %>
					</ul>
			</div>	
		</div>
	</div>
	<div class="container">
		<div class="row app-body">
			<div class="video-btn-group">
			<% if !@prev_task.nil? %>
						<%= link_to "Previous", [@prev_task.project, @prev_task], class: "btn video-btn btn-lg" %>
					<% else %>
						&nbsp;
					<% end %>
			<% if !@next_task.nil? %>
						<%= link_to "Complete and Next", [@next_task.project, @next_task], class: "btn video-btn btn-lg" %>
			<% end %>
			</div>
		</div>
	</div>
	<div class="row app-tabs">

	</div>
</div>


<!-- CONTROLS

		
				<% if !@prev_task.nil? %>
					<%= link_to "Prev", [@prev_task.project, @prev_task], class: "btn video-btn" %>
				<% else %>
					&nbsp;
				<% end %>
				<% if !@next_task.nil? %>
					<%= link_to "Next", [@next_task.project, @next_task], class: "btn video-btn" %>
				<% end %>
			
-->

<!-- WISTIA SCRIPT -->

<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<script>
	wistiaEmbed = Wistia.embed("<%= @task.video %>", {
		videoQuality: "hd-only",
		videoFoam: true
	});

	function setPlaySpeed(speed) {
		wistiaEmbed.playbackRate(speed);
	}
</script>


						


