<!--
<div class="row">
		<% @projects.each do |project| %>
			<%= link_to project do %>
						<div class="card col sm-12 md-6 lg-4">					
							<%= image_tag project.image(:thumb), class: "card-img-top" %>
							<div class="card-body">
								<%= project.name %>
							</div>
						</div>
			<% end %>	
		<% end %>		
	</div>
-->
<div class="container">
	<h1 class="display-3 text-white text-center" style="margin-top: 50px"> learn from musika</h1>
	<% @projects.each do |project| %>
		<%= link_to project do %>
			<div class="card text-white col-md-6 col-sm-12 mt-5">
			  <%= image_tag project.image(:thumb), class: "card-img" %>
			</div>
		<% end %>
	<% end %>
</div>

