

<div class="container">
		<div class="card bg-dark text-center col-md-4">
  			<div class="card-body">
   				 <h1 class="card-title display-1 text-white">$ <%= @project.price %></h1>
   				 <hr>
   				 <a href="#" class="btn btn-primary btn-lg ">Take this course</a>
  			</div>
		</div>
		<div class="card mb-3 col-md-8 text-white">
		  <%= image_tag @project.image(:medium), class: "card-img-top" %>
		  <div class="card-body bg-dark">
		    <h1 class="card-title"><%= @project.name %></h1>
		    	<hr>
		    <p class="card-text"><%= @project.content %></p>
		    <ul class="list-group">
		    	<% @tasks.each do |task| %>
		    		<% if task.header %>
			  			<li class="list-group-item active"><%= task.title %></li>
			  		<% else %>
			  			<%= link_to [task.project, task], class: "list-group-item text-dark" do %>
			 			<%= task.title %>
			 		<% end %>
			 		<% end %>
			 	<% end %>
			</ul>
		  </div>


		</div>


</div>
